*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/NetBeansProjects/nprimo/build/
/NetBeansProjects/nprimo/nbproject/private/
/NetBeansProjects/practica_1/build/
/NetBeansProjects/practica_1/nbproject/private/
/NetBeansProjects/primitos/build/
/NetBeansProjects/primitos/nbproject/private/
/NetBeansProjects/Scaner factorial/nbproject/private/
/NetBeansProjects/Servidor2/nbproject/private/
/NetBeansProjects/carrera hilos sin grafico/nbproject/private/
/NetBeansProjects/ApplicationCaculadora/build/
/NetBeansProjects/ApplicationCaculadora/dist/
/NetBeansProjects/ApplicationCaculadora/nbproject/private/
/NetBeansProjects/calculadora clase/build/
/NetBeansProjects/calculadora clase/nbproject/private/
/NetBeansProjects/numerosprimos/build/
/NetBeansProjects/numerosprimos/dist/
/NetBeansProjects/numerosprimos/nbproject/private/
/NetBeansProjects/stream/build/
/NetBeansProjects/stream/nbproject/private/
/NetBeansProjects/Stream2/build/
/NetBeansProjects/Stream2/nbproject/private/
/NetBeansProjects/Tryc/build/
/NetBeansProjects/Tryc/nbproject/private/
/NetBeansProjects/Scaner factorial/build/
/NetBeansProjects/Servidor2/build/
/NetBeansProjects/clase RMI/ServRMI/nbproject/private/
/NetBeansProjects/clase RMI/ServRMI/build/
/NetBeansProjects/clase RMI/Cliente2/nbproject/private/
/NetBeansProjects/clase RMI/Cliente2/build/
/NetBeansProjects/clase RMI/uno/nbproject/private/
/NetBeansProjects/clase RMI/uno/build/
/NetBeansProjects/clase RMI/DistriRMI/nbproject/private/
/NetBeansProjects/clase RMI/DistriRMI/build/
/NetBeansProjects/clase RMI/Rmicli/nbproject/private/
/NetBeansProjects/clase RMI/Rmicli/build/
/NetBeansProjects/clase RMI/SumaServer/nbproject/private/
/NetBeansProjects/CORBA/SumaServer/build/
/NetBeansProjects/clase RMI/Calculo/nbproject/private/
/NetBeansProjects/clase RMI/Calculo/build/
/NetBeansProjects/clase RMI/practicaRMI/nbproject/private/
/NetBeansProjects/clase RMI/practicaRMI/build/
/NetBeansProjects/clase RMI/practicaRMIWEB/nbproject/private/
/NetBeansProjects/clase RMI/practicaRMIWEB/build/
/proyecto/sisVentas/nbproject/private/
/proyecto/sisVentas/build/
/examen Final/2/centiRMIWEB/nbproject/private/
/examen Final/2/pulgadasRMIWEB/nbproject/private/
/examen Final/2/piesRMIWEB/nbproject/private/
/examen Final/2/piesRMI/nbproject/private/
/examen Final/2/piesRMI/build/
/examen Final/2/piesRMIWEB/build/
/examen Final/1/gradosRMI/nbproject/private/
/examen Final/1/gradosRMI/build/
/examen Final/3/GradoServer/nbproject/private/
/examen Final/3/GradoServer/build/